body {
    font-family: Tahoma, Verdana, sans-serif;
    
}
.index {
    text-align: center;
    
}
.dl-top {
    text-align: center;
    position: absolute;
    left: 655px;
    top: 132px;
    background: #FFEB9D
}
body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    overflow: hidden;
    font-weight: 400;
    color: white;
    font-size: 20px;
}
h1, h2, h3, a, p, span {
    font-weight: 400;
    color: white;
    text-decoration: none;
}
div {
    opacity: 100%;
}

nav {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #4d4d4d;
    height: 50px;

    background-color: #21212161;
    font-size: 20px;

}

.nav-section {
    padding: 3rem 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}

#nav-logo-section, #nav-link-section {
    flex-basis: calc(100% / 3);
    text-align: center;
}
#nav-link-section {
    gap: 10rem;
}

#nav-social-section, #nav-contact-section {
    flex-grow: 1;
}

#nav-logo-section {
    justify-content: flex-start;
    border-left: 0px;
}

#nav-social-section {
    font-size: 20px;
}

#on-screen {
    height: 50px;
    position: fixed;
    border-bottom: 0px;
}
main {
    padding-left: 10%;
    padding-right: 10%;
}
#nav-info-button {
    background-color: #212121;
    
}